<% include header %>
<div class="row-fluid">
  <div class="span7 white-background-submissions">
        <h1 class="show-title">The Show at Emily Carr University</h1>
        <h2 class="show-byline"><em>New Adventures in Design, Media &amp; Visual Art</em></h2>
        <p>This website is a catalogue and archive for you to browse the more than 300 pieces of work from our 2017 Design, Media and Visual Arts graduates being featured at <em>The Show at Emily Carr University</em>. <em>The Show</em> is one of Vancouver’s most anticipated events and is a celebration of an end and a new beginning for our Master of Design, Master of Fine Arts, Bachelor of Design, Bachelor of Fine Arts and Bachelor of Media Arts graduates. It is a space of opportunity where potential meets reality, theory meets practice, and thought meets dialogue.</p>

        <br>

        <p><strong>Opening Night</strong><br>
        Friday, 5 May 2017<br>
        4-9:30pm</p>

        <p><strong>Daily</strong><br>
        6-21 May 2017<br>
        10am-8pm M-F<br>
        10am-6pm S-Su<p>

        <p>1399 &amp; 1400 Johnston Street<br>
        Granville Island</p>
        
        <p>Details at <a href="http://www.ecuad.ca">ecuad.ca</a></p>

        <br>

        <p>The website and companion iPad app for <em>The Show</em> was designed and developed by Vancouver’s <a href="http://www.steamclock.com">Steamclock Software</a>. We encourage you to download the catalog app. It uses native development methods to achieve smooth animations and high performance. In keeping with the spirit of contributing back to the community, the source code for the app and website are both available as open source.</p>
        <p><strong>Get the iPad App</strong><br>
        <a href="https://itunes.apple.com/ca/app/ecuad-grad-catalog/id640841713?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a></p>
        <br>
        <h2>About Emily Carr University of Art + Design</h2>
        <p>Emily Carr University of Art + Design, established in 1925, is a world leader in education and research. Encouraging experimentation at the intersection of art, design, media and technology, our learning community merges research, critical theory and studio practice in an interdisciplinary environment. Alumni and faculty are internationally recognized as award-winning creators and thought leaders who have enormous impact on both the cultural sector and economy. We engage students, industry, and society to continuously explore and think differently about creativity and how it shapes our world. Emily Carr is building a state-of-the art campus for 21st century learning at Great Northern Way. The University will be at the centre of a new social, cultural, educational, and economic engine for British Columbia.
        <p>Find out more at <a href="http://www.ecuad.ca">ecuad.ca</a>.</p>
    </div>
</div>
<% include footer %>