<% include header %>

    <div class="row-fluid">
      <div class="span6 white-background-submissions">
        <h1>List of Project Submissions</h1>
        <p><span class="label label-warning">Instructions</span> To approve a project submissions, <em>click the button ‘Approved’</em>. To request the student(s) to resubmit a project, <em>fill in a quick comment and click the button ‘Resubmit’</em>. Approved projects will go live to the website and iOS app. The student(s) will be emailed with feedback you’ve provide via email. They will have to go through the submission process again and their work will be at the end of the queue for the approval process.</p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 white-background-submissions">
        <ul class="student-submissions">
          <li>
            <div class="row-fluid">
              <div class="span3">
                <ul class="student-info">
                  <li><strong>Student Name</strong></li>
                  <li>Portoflio URL</li>
                  <li>Project Title</li>
                  <li>Dimensions</li>
                  <li>Media</li>
                  <li>Measurements</li>
                  <li>Vimeo Link: <a href="#" title="Link to students Vimeo embed" target="_blank">Link</a></li>
                  <input type="submit" value="Approved" class="btn btn-info">
                  <input type="submit" value="Resubmit" class="btn btn-danger">  
                </ul> 
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 1">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 2">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 3">
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span3">
                <ul class="student-info">
                  <li><strong>Student Name</strong></li>
                  <li>Portoflio URL</li>
                  <li>Project Title</li>
                  <li>Dimensions</li>
                  <li>Media</li>
                  <li>Measurements</li>
                  <li>Vimeo Link: <a href="#" title="Link to students Vimeo embed" target="_blank">Link</a></li>
                  <input type="submit" value="Approved" class="btn btn-info">
                  <input type="submit" value="Resubmit" class="btn btn-danger">  
                </ul>  
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 1">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 2">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 3">
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span3">
                <ul class="student-info">
                  <li><strong>Student Name</strong></li>
                  <li>Portoflio URL</li>
                  <li>Project Title</li>
                  <li>Dimensions</li>
                  <li>Media</li>
                  <li>Measurements</li>
                  <li>Vimeo Link: <a href="#" title="Link to students Vimeo embed" target="_blank">Link</a></li>
                  <input type="submit" value="Approved" class="btn btn-info">
                  <input type="submit" value="Resubmit" class="btn btn-danger">  
                </ul>    
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 1">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 2">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 3">
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span3">
                <ul class="student-info">
                  <li><strong>Student Name</strong></li>
                  <li>Portoflio URL</li>
                  <li>Project Title</li>
                  <li>Dimensions</li>
                  <li>Media</li>
                  <li>Measurements</li>
                  <li>Vimeo Link: <a href="#" title="Link to students Vimeo embed" target="_blank">Link</a></li>
                  <input type="submit" value="Approved" class="btn btn-info">
                  <input type="submit" value="Resubmit" class="btn btn-danger">  
                </ul>    
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 1">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 2">
              </div>
              <div class="span3">
                <img src="http://placehold.it/1500x1126&text=Student Asset 3">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

<% include footer %>
