<% include header %>

   <div class="row-fluid">
      <div class="span6 offset1 white-background-submissions">

        <h1>Submit Your Project</h1>

        <h2>1. Your Information</h2>
        <form method="post" enctype="multipart/form-data" action="/create/submit" id="projectSubmission">
        <label>Your Name</label>
        <input type="text" id="input-warning" name="author">
        <label>Your ECUAD.ca Email Address</label>
        <input type="email" name="email"><span class="help-inline"><small><em>Must be @ecuad.ca</em></small></span>

        <h2>2. Information About Your Project</h2>
        <label>Title of Your Project</label>
        <input type="text" name="title">
        <label>Select Your Degree Track</label>
        <select name="degree">
          <option name="design">Design</option>
          <option name="media-arts">Media Arts</option>
          <option name="visual-arts">Visual Arts</option>
          <option name="masters-of-applied-arts">MAA</option>
        </select>
        <label>Media(s)</label>
        <input type="text" name="media">
        <label>Measurements</label>
        <input type="text" name="measurements"><span class="help-inline"><small><em>Width x Height x Depth // cm for units</em></small></span>

        <h2>3. Images</h2>
        <p>You can sumbit <em>up to 3 assets</em> of your project.</p>
        <ul>
          <li>images must be saved as <em>.jpg format</em></li>
          <li>the <em>longest edge</em> of the image must be <em>at least 1500 pixels</em> long</li>
          <li>each image must be <em>less than 500KB</em> in size</li>
        </ul>

        <h3>Size Matters</h3>
        <p>The recommended image size is <em>1500px (w) x 1126px (h)</em> compressed to be <em>approximately 300KB</em>.</p>

        <img class="bottom-image" src="/public/images/size-matters.jpg" />

        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 1</span><span class="fileupload-exists">Change</span><input type="file" name="images" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>

        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 2</span><span class="fileupload-exists">Change</span><input type="file" name="images" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>

        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 3</span><span class="fileupload-exists">Change</span><input type="file" name="images"/></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>

        <h2>4. Video</h2>
        <ul>
          <li>must be <em>hosted on Vimeo</em></li>
          <li><em>paste the URL from Vimeo</em> into the field below</li>
          <li>follow the <a href="https://vimeo.com/help/compression" title="Click here to read the Vimeo Compression Guidlines." target="_blank">Vimeo Compression Guidelines</a> for best quality</li>
        </ul>
        
        <img src="/public/images/vimeo-ex.jpg" />

        <label>Vimeo URL</label>
        <input type="text" name="video">
        
        <div class="clearfix"></div>
        
        <input type="submit" value="Submit For Approval" class="btn btn-info">
        
        </div>
        </form>
  </div>
<!-- Including these in create.ejs since this is the only page that needs them -->
<script type="text/javascript" src="/public/javascripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/public/javascripts/additional-methods.min.js"></script>
<script type="text/javascript" src="/public/javascripts/validation.js"></script>
<% include footer %>
