<% include header %>
<div class="span6 offset1 white-background">
  <div class="span3 pull-left">
    <a href="http://grad2013.ecuad.ca/" title="Go to the Grad Exhibition Catalogue" target="_blank"><img src="/public/images/logo.jpg" /></a>
  </div>
  <div class="span3 pull-right">
    <p class="ecuad-link"><a href="http://www.ecuad.ca/" title="Go to the Emily Carr University of Art + Design Homepage" target="_blank">ECUAD.CA</a></p>
  </div>

  <div class="clearfix"></div>        

  <h1>Submit Your Project</h1>

  <h2>1. Your Information</h2>
  <form method="post" enctype="multipart/form-data" action="/create/submit" id="projectSubmission">
  <label>Your Name</label>
  <input type="text" name="author" class="required" minlength="5">
  <label>Your ECUAD.ca Email Address</label>
  <input type="email" name="email" class="required email" minlength="10"><span class="help-inline"><small><em>Must be @ecuad.ca</em></small></span>
  <label>Your Online Portfolio</label>
  <input type="url" name="website url" minlength="10"><span class="help-inline"><small><em>A URL where you host more of your work</em></small></span>

  <h2>2. Information About Your Project</h2>
  <label>Title of Your Project</label>
  <input type="text" name="title" class="required">
  <label>Select Your Degree Track</label>
  <select name="degree">
    <option value="design">Design</option>
    <option value="media-arts">Media Arts</option>
    <option value="visual-arts">Visual Arts</option>
    <option value="masters-of-applied-arts">MAA</option>
  </select>
  <label>Media(s)</label>
  <input type="text" name="medium">
  <label>Measurements</label>
  <input type="text" name="measurements"><span class="help-inline"><small><em>Width x Height x Depth // cm for units</em></small></span>

  <h2>3. Images</h2>
  <p>You can sumbit <em>up to 3 assets</em> of your project.</p>
  <ul>
    <li>images must be saved as <em>.jpg format</em></li>
    <li>the <em>longest edge</em> of the image must be <em>at least 1500 pixels</em> long</li>
    <li>each image must be <em>less than 500KB</em> in size</li>
  </ul>

  <h3>Size Matters</h3>
  <p>The recommended image size is <em>1500px (w) x 1126px (h)</em> compressed to be <em>approximately 300KB</em>.</p>

  <img class="bottom-image" src="/public/images/size-matters.jpg" />

  <div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append">
      <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 1</span><span class="fileupload-exists">Change</span><input type="file" name="images"/></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>

  <div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append">
      <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 2</span><span class="fileupload-exists">Change</span><input type="file" name="images"/></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>

  <div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="input-append">
      <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Image 3</span><span class="fileupload-exists">Change</span><input type="file" name="images" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>

  <h2>4. Video</h2>
  <ul>
    <li>must be <em>hosted on Vimeo</em></li>
    <li><em>paste the URL from Vimeo</em> into the field below</li>
    <li>follow the <a href="https://vimeo.com/help/compression" title="Click here to read the Vimeo Compression Guidlines." target="_blank">Vimeo Compression Guidelines</a> for best quality</li>
  </ul>
  
  <img src="/public/images/vimeo-ex.jpg" />

  <label>Vimeo URL</label>
  <input type="url" name="video">
  
  <div class="clearfix"></div>
  
  <input type="submit" value="Submit For Approval" class="btn btn-info">
  
  </form>
</div>
<div class="error"><span></span></div>
<% include footer %>
