<% include header %>
    
   <div class="row-fluid">
      <div class="span6 offset1 white-background-submissions">

        <h1>Good Work!</h1>

        <h2>Your Submission Is Complete.</h2>
        
        <h3>What’s Next?</h3>
        <p>You work is in queue for approval. After the curators approve your submission, your project will <em>go live</em> on the Catalog Website and app.</p>

        <h3>The Confirmation Email</h3>
        <p>An email will be sent to your ecuad.ca email address. This email will included a link to a webpage where you can edit the details of your project, replace images or video, and resubmit your project for approval. The email will be delivered once. <strong><em>Don’t loose that email!</em></strong></p>

        <h3>About Resubmitting</h3>
        <p>If you resubmit to the app, your work will be at the end of the queue. You will have to wait for approval by the Catalog curatorial team for your work to go live again.</p>
        
        </div>
        </form>
  </div>

    <div class="row-fluid">
      <div class="span12 white-background">
      <div class="span4">
        <p class="footer"><strong>The Show at<br>
        Emily Carr University</strong><br>
        New Adventures in<br>
        Design, Visual Art<br>
        &amp; Media</p>
      </div>
      <div class="span4">
        <p class="footer"><strong>Opening Night</strong><br>
        4 May | 5–10pm<br>
        <br>
        <strong>Daily</strong><br>
        5 to 19 May | 10am–6pm</p>
      </div>
      <div class="span4">
        <p class="footer">1399 & 1400 Johnston St.<br>
        Granville Island Vancouver, BC<br>
        <strong>T 604.844.3800<br>
        Guided Tours Available</strong><br>
        Details at <a href="http://www.ecuad.ca/" title="This is a link to the homepage of Emily Carr University of Art + Design" target="_blank">ecuad.ca</a></p>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 white-background">
        <hr style="margin: -30px 0 20px 0;">
        <p style="text-align: center;"><small>Copyright 2013.</small><a href="http://www.ecuad.ca/" title="This is a link to the homepage of Emily Carr University of Art + Design" target="_blank"><img class="ecuad-logo hires" alt="The Emily Carr University of Art + Design logo." src="//:0" data-src="img/ecuad-logo.png" width="155" /></a>
      </div>
    </div>
    
<% include footer %>