<% include header %>
<div class="row-fluid">
  <div class="span6 offset1 white-background-submissions">

    <h1><%= title %></h1>
    <p>Shucks, there's nothing here for you.</p>

  </div>
</div>
<% include footer %>
