<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- TODO: Fill in meta info appropriately -->
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/design">Design</a></li>
            <li><a href="/fine-arts">Design</a></li>
            <li><a href="/media-arts">Design</a></li>
            <li><a href="/masters-of-applied-arts">Design</a></li>
            <li><a href="/create">Submit your Project</a></li>
        </ul>
    </nav>