<% include header %>
<% projects = JSON.parse(projects) %>

    <div class="row-fluid">
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <%  for (var i = 0; i < projects.length; i++) { %>
          <li>
              <% for (var j = 0; j < projects[i].assets.length; j++) {
                  if (projects[i].assets[j].type == "image") { %>
                      <img src="<%= projects[i].assets[0].thumbnailurl %>" alt="<%= projects[i].title %>">
                  <% break; } %>
              <% } %>
          <p><strong><%= projects[i].title %></strong><br />
          <em><%= projects[i].author %></em></p></li>
        <% } %>
        <!-- End of grid blocks -->
      </ul>
</div><!-- End Row-Fluid -->

<% include footer %>
