<% include header %>

    <div class="row-fluid">
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <li><img src="img/projects/1.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/2.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p>
        </li>
        <li><img src="img/projects/12.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/4.jpg">
          <strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/5.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/12.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/7.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/8.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/12.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/10.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/11.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <li><img src="img/projects/12.jpg">
          <p><strong>Colour Exploration In the Time of Cholera &amp; Sad Cities</strong><br />
          Jane Baddall</p></li>
        <!-- End of grid blocks -->
      </ul>
</div><!-- End Row-Fluid -->

<% include footer %>
