lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

Web\ App/npm-debug.log
Web\ App/node_modules

Web\ App/config/config.json
Web\ App/database.json
Web\ App/logfile

Web\ App/public/images/projects
Web\ App/uploads
