lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config.json
database.json
logfile

public/images/projects
uploads

.DS_Store
project.xcworkspace
xcuserdata