<% include header %>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %> page. Form for creating a project goes here shortly.</p>
<form method="post" enctype="multipart/form-data" action="/submit">
    <input type="file" name="asset">
    <input type="submit">
</form>
<% include footer %>
