<% include ../header %>
    
<div class="row-fluid">
  <div class="span6 offset1 white-background-submissions">

    <h1>Sorry!</h1>

    <h2>The URL you have entered is invalid.</h2>
    
  </div>
</div>
    
<% include ../footer %>