<% include ../header %>
    
<div class="row-fluid">
  <div class="span6 offset1 white-background-submissions">

    <h1>Sorry!</h1>

    <h2>You’ve Already Submitted To The Catalog.</h2>

    <p>Each student exhibiting in the Emily Carr University Grad Exhibition is allowed to submit 1 project to the Catalog.</p>

    <h3>Did You Want To Make Changes?</h3>

    <p>Although you are allowed to submit only 1 project to the Catalog, you can <em>edit text</em>, <em>swap out images</em>, <em>delete images</em>, or <em>change the URL of your video</em> for your project.</p>

    <p>An email has been sent to your @ecuad.ca email address. This email includes a link to a webpage where you can edit your submission. Please check your ecuad.ca email account for this email.</p>

    <h3>About Resubmitting</h3>
    <p><span class="label label-warning">Heads up!</span> <em>Resubmitting will remove your work from the Catalog</em> until your new images or video have been approved by the Curatorial Team.</p>    
  </div>
</div>
    
<% include ../footer %>